/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, yellow, #da1d1de0 100px);
}

header {
    background: linear-gradient(45deg, black, transparent);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
    font-size: 1em;
}

header i {
    margin-right: 5px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.job, .project {
    margin-bottom: 20px;
}

.skill-box {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.skill-box ul {
    list-style-type: none;
    padding: 0;
}

.skill-box li {
    margin: 5px 0;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.skill-box i {
    margin-right: 8px;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


